{% extends "admin/change_list.html" %}
{% load static %}
{% block content %}
    <style>
    .chart-box {
        display: flex;
        flex-direction: row;
    }
    .chart-item {
        width: 50%;
    }

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 768px) {
  .chart-box {
    flex-direction: column;
  }
    .chart-item {
        width: 100%;
    }
}
    </style>
<div class="chart-box">
{% for chart_template in chart_templates %}
    <div class="chart-item">
        <div>{{ chart_template.name }}</div>
        <canvas id="myChart{{ forloop.counter }}"></canvas>
    </div>
{% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const chart_templates = {{ chart_templates | safe }};
    for (let i = 0; i < chart_templates.length; i++) {
        new Chart(document.getElementById('myChart'+(i+1).toString()), chart_templates[i]);
    }
</script>

{% endblock %}